<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <import resource="classpath:applicationScheduler.xml"/>
    <import resource="classpath:applicationPlatformServerAPI.xml"/>
    <import resource="classpath:applicationSchedulerTrackingAPI.xml"/>
    <import resource="classpath:applicationContext-formhub-listener.xml"/>
    <util:properties id="mCheck" location="classpath:/mCheck.properties"/>


    <mvc:default-servlet-handler/>
    <mvc:annotation-driven/>

    <context:annotation-config/>
    <context:component-scan base-package="org.who.mcheck"/>

    <bean id="mcheckDatabaseConnector" class="org.ektorp.impl.StdCouchDbConnector">
        <constructor-arg value="mCheck"/>
        <constructor-arg ref="couchDbInstance"/>
    </bean>

</beans>
